body,
h1,
h2,
h3,
p,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

h1 {
  font-size: 25px;

}

header {
  background-color: #ffcc00;
  padding: 5px;
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #0f0d0d;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  color: #0f0d0d;
}

img {
  width: 500px;
  margin-top: 10px;
  border-radius: 5px;
}

ol {
  width:100%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ffcc00;
  color: #0f0d0d;
}